/* Import Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Tailwind*/
@import "tailwindcss";

/*DaisyUI Theme Setup*/
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00c497;
  --color-secondary: #313647;
  --color-base-100: #f1f2f4;
  --color-base-200: #b7e5cd;
  --color-base-300: #696fc7;
}

/*Global Styles*/
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Custom Utilities*/
@layer utilities {
  /* ACTIVE NAVLINK*/
  .active {
    @apply relative text-primary transition-all duration-300;
  }

  /* Dark theme active color */
  [data-theme="dark"] .active {
    color: #00c497 !important;
  }
  [data-theme="dark"] .navbar a {
    color: #000 !important;
  }
  [data-theme="dark"] {
    /* color: #fff; */
  }

  .active::before {
    content: "";
    position: absolute;
    bottom: -1.02rem;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #00c497;
    transition: all 0.3s ease-in-out;
  }

  /* Mobile view underline hide */
  @media screen and (max-width: 1024px) {
    .active::before {
      width: 0% !important;
    }
  }

  /* NAVBAR HOVER*/
  .navbar a {
    font-size: 16px;
  }

  .navbar a:hover {
    background-color: transparent !important;
    color: #00c497 !important;
  }
  /* Custom swiper bullet bg */
  .swiper-pagination-bullet {
    background-color: #00c497 !important;
  }
  /* Play Icon Shadow Animation */
  @keyframes playShadow {
    0% {
      box-shadow: 0 0 0 0 rgb(93, 206, 148);
    }
    70% {
      box-shadow: 0 0 0 12px rgba(59, 130, 246, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    }
  }

  .animate-play-shadow {
    animation: playShadow 1.8s infinite ease-out;
  }
}
